// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2018 Fuzhou Rockchip Electronics Co., Ltd
 */

/dts-v1/;

#include <dt-bindings/input/input.h>
/* #include "rk3308.dtsi" */
#include "rk3308k.dtsi"

/ {
	model = "Radxa CS307";
	compatible = "radxa,cs307", "rockchip,rk3308";

	chosen {	
		bootargs = "append  earlyprintk console=ttyFIQ0,1500000n8 rw root=/dev/mmcblk0p6 rootfstype=squashfs init=/sbin/init rootwait";
	};
	
	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;

		/*
		 * On the module itself this is one of these (depending
		 * on the actual card populated):
		 * - SDIO_RESET_L_WL_REG_ON
		 * - PDN (power down when low)
		 */
		reset-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_LOW>;
	};

	dummy_codec: dummy-codec {
		compatible = "rockchip,dummy-codec";
		#sound-dai-cells = <0>;
	};

	vdd_core: vdd-core {
		compatible = "pwm-regulator";
		pwms = <&pwm0 0 5000 1>;
		regulator-name = "vdd_core";
		regulator-min-microvolt = <827000>;
		regulator-max-microvolt = <1340000>;
		regulator-init-microvolt = <1015000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		status = "okay";
	};

	vdd_log: vdd-log {
		compatible = "regulator-fixed";
		regulator-name = "vdd_log";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1050000>;
		regulator-max-microvolt = <1050000>;
	};

	vdd_1v0: vdd-1v0 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_1v0";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1000000>;
		regulator-max-microvolt = <1000000>;
	};

	vccio_sdio: vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_io>;
	};

	vcc_1v8_codec: vcc-1v8-codec {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8_codec";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_io>;
	};

	vcc_ddr: vcc-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ddr";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
	};

	vcc_3v3_codec: vcc_io: vcc-io {
		compatible = "regulator-fixed";
		regulator-name = "vcc_io";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vccio_flash: vccio-flash {
		compatible = "regulator-fixed";
		regulator-name = "vccio_flash";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	vcc_otg_vbus: otg-vbus-regulator {
		compatible = "regulator-fixed"; 
		enable-active-high;
		gpio = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&otg_vbus_drv>;
		regulator-name = "vcc_otg_vbus";
	};

	bt_uart4: wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		uart_rts_gpios = <&gpio4 RK_PA7 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart4_rts>;
		pinctrl-1 = <&uart4_rts_gpio>;
		BT,power_gpio    = <&gpio4 RK_PB3 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_wake_host>;
		//wifi_chip_type = "ap6256";
		WIFI,host_wake_irq = <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};


	gpio-leds {
		compatible = "gpio-leds";
		status = "okay";

		green-led {
			label = "rockpis:green:power";
			gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
			default-state = "on";
		};

		blue-led {
			label = "rockpis:blue:user";
			gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};
		
		rgb-red {
			label = "rockpis:rgb-red:user";
			gpios = <&gpio4 28 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "default-on";
			default-state = "on";
		};

		rgb-blue {
			label = "rockpis:rgb-blue:user";
			gpios = <&gpio4 24 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "default-on";
			default-state = "on";
		};

		rgb-green {
			label = "rockpis:rgb-green:user";
			gpios = <&gpio4 25 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "default-on";
			default-state = "on";
		};
	};

    gpio-keys {
        compatible = "gpio-keys";
        #address-cells = <1>;
        #size-cells = <0>;
        autorepeat;
        pinctrl-names = "default";
        pinctrl-0 = <&pwrbtn>;
                 
        F15 {
             gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
             linux,code = <KEY_F15>;
             label = "GPIO Key F15";
             linux,input-type = <1>;
             gpio-key,wakeup = <1>;
             debounce-interval = <100>;
        };
        F16 {
             gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
             linux,code = <KEY_F16>;
             label = "GPIO Key F16";
             linux,input-type = <1>;
             gpio-key,wakeup = <1>;
             debounce-interval = <100>;
        };
    };

	acodec_sound: acodec-sound {
		compatible = "rockchip,multicodecs-card";
		rockchip,card-name = "rockchip,rk3308-acodec";
		rockchip,codec-hp-det;
		rockchip,mclk-fs = <256>;
		rockchip,cpu = <&i2s_8ch_2>;
		rockchip,codec = <&acodec>;
     };
};

&cpu0 {
	cpu-supply = <&vdd_core>;
};

&dmc {
	center-supply = <&vdd_log>;
	status = "okay";
};

&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	//mmc-hs200-1_8v;
	supports-emmc;
	disable-wp;
	non-removable;
	num-slots = <1>;
	status = "disabled";
};

&io_domains {
	status = "okay";

	vccio0-supply = <&vcc_io>;
	vccio1-supply = <&vcc_io>;
	vccio2-supply = <&vcc_1v8>;
	vccio3-supply = <&vccio_flash>;
	vccio4-supply = <&vccio_sdio>;
	vccio5-supply = <&vcc_io>;
};
 
&i2s_8ch_2 {
	status = "okay";
	#sound-dai-cells = <0>;
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <&rtc_32k>;

	buttons {
		mic_mute: mic-mute {
			rockchip,pins = <0 RK_PC0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

    key {
        pwrbtn:pwrbtn {
            rockchip,pins = 
                <1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>,  //GPIO1_B2
                <1 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>;  //GPIO1_B3
        };
    };

	usb {
		otg_vbus_drv: otg-vbus-drv {
			rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	rotary {
		rotary_gpio: rotary-gpio {
			rockchip,pins =
				<2 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>,
				<2 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <0 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-wlan {
		wifi_wake_host: wifi-wake-host {
			rockchip,pins = <0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
};

&pwm0 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm0_pin_pull_down>;
};

&rockchip_suspend {
	rockchip,pwm-regulator-config = <
		(0
		| RKPM_PWM_REGULATOR
		)
	>;

	status = "okay";
};

&sdio {
	max-frequency = <110000000>;
	bus-width = <4>;
	cap-sd-highspeed;
	supports-sdio; 
	ignore-pm-notify;
	keep-power-in-suspend;
	non-removable;
	mmc-pwrseq = <&sdio_pwrseq>;
	sd-uhs-sdr104;
	status = "okay";
};

&tsadc {
	rockchip,hw-tshut-mode = <0>;		/* 0:CRU */
	rockchip,hw-tshut-polarity = <1>;	/* 1:HIGH */
	status = "okay";
};

&u2phy {
	status = "okay";

	u2phy_host: host-port {
		phy-supply = <&vcc_otg_vbus>;
		status = "okay";
	};

	u2phy_otg: otg-port {
		vbus-supply = <&vcc_otg_vbus>;
		status = "okay";
	};
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_xfer &uart4_cts>;
	status = "okay";
};

&usb20_otg {
	dr_mode = "otg";
	status = "okay";
};

&acodec {
	status = "okay";
};

&thermal_zones {
	soc_thermal {
		thermal-sensors = <&tsadc 0>;
	};
};

&wdt {
	status = "okay";
};

&saradc {
	status = "okay";
	vref-supply = <&vcc_1v8>;
};

&uart0 {
    status = "okay";
};

&fiq_debugger{
    status = "okay";
    rockchip,serial-id = <0>;
    pinctrl-names = "default";
    inctrl-0 = <&uart0_xfer>;
};

