/dts-v1/;
/plugin/;

/ {
	model = "Radxa ROCK 4C+";
	compatible = "radxa,rock-4c-plus", "rockchip,rk3399";

	fragment@0 {
		target = <&dsi>;

		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
		
				port@1 {
					reg = <1>;
					dsi_out_panel: endpoint {
						remote-endpoint = <&panel_in_dsi>;
					};
				};
			};

			panel_rpi_touchscreen: panel-rpi-touchscreen@0 {
				compatible ="rockpi,tc358762";
				reg = <0>;
				status = "okay";
		
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
		
					port@0 {
						reg = <0>;
						panel_in_dsi: endpoint {
							remote-endpoint = <&dsi_out_panel>;
						};
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&vopl_out_dsi>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&dsi_in_vopl>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&route_dsi>;

		__overlay__ {
			status = "okay";
			connect = <&vopl_out_dsi>;
		};
	};

	fragment@4 {
		target = <&i2c1>;

		__overlay__ {
			status = "okay";
			i2c-scl-rising-time-ns = <300>;
			i2c-scl-falling-time-ns = <15>;
			#address-cells = <1>;
			#size-cells = <0>;

			rockpi_mcu: rockpi-mcu@45 {
				compatible = "rockpi_mcu";
				reg = <0x45>;
				status = "okay";
			};
		};
	};

	fragment@5 {
		target = <&rockpi_ft5406>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&cdn_dp>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@7 {
		target = <&tcphy0>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@8 {
		target = <&dp_in_vopl>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@9 {
		target = <&tcphy0_dp>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@10 {
		target = <&tcphy0_usb3>;

		__overlay__ {
			status = "disabled";
		};
	};
};
